# Ignorar TUDO que começa com ponto
.*
!.gitignore

# Ignorar pastas de sistema e ambientes
ssh/
snap/
nvm/
pm2/
dotnet/
copilot/
venv/
__pycache__/
mlflow-env/
qdrant_service/
milvus_service/
info_tailscale_bkp
banner.jpg
*.db
*.log
!.gitkeep
ssh
node_modules/
